html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.title {
  text-align: center;
}

nav {
  text-align: center;
  color: #0084a6;
}

a {
  padding-bottom: 5px;
}

hr {
  border: 1px solid #e2e2e2;
}

.btn:hover {
  border: 2px solid #005e76;
  background-color: white;
}

.nav:hover {
  background-color: green;
}

.btn-ghost {
  color: #005e76;
  border-bottom: 2px solid #8bc9d9;
}

.btn {
  border-color: #8bc9d9;
  border: 2px solid #8bc9d9;
}

a:focus {
  outline: 3px solid #000;
}

@media only screen and (min-width: 60em) {

  h1 {
    margin-bottom: .4rem;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

}
