html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

nav {
  text-align: center;
  color: #005e76;
}

a {

  padding-bottom: 5px;
}

hr {
  border: 1px solid #e2e2e2;
}

.btn:hover {
  border: 3px solid #005e76;
  background-color: white;
}

.nav:hover {
  background-color: green;
}

.btn-ghost {
  color: #005e76;
  border-bottom: 2px solid #8bc9d9;
}
